
#------------------------ SLAM  -----------------------------------

#SLAM = 0  # RAO BLACKWELLIZED PARTICLE FILTER
SLAM = 1 # EXTENDED KALMAN FILTER

PARTICLESPERROBOT = 500   # RBPF total particles = numrobots x PARTICLESPERROBOT
MULTIPLYPARTPERROBOTS = true

SCENE_WIDTH = 54.0  # dimensions and reference frame of the grid map
SCENE_HEIGHT = 42.0
RESOLUTION = 0.1
XORIGIN = -8.0
YORIGIN = -8.0

MAHALANOBISTH = 30
DESCRIPTORTH = 0.5
NEARESTNEIGHBOURBY = 0 # descriptor
#NEARESTNEIGHBOURBY = 1 # mahalanobis

THRESHOLD_HIGH = 0.06
THRESHOLD_LOW =  0.02

NLANDMARKS = 1000 # reserved map size 

# >> Odometry Model:
alfa1 = 0.04
alfa2 = 0.04
alfa3 = 0.04
alfa4 = 0.04
drifttrans = 1.0

#camera position
camx = -0.08
camy = 0.08
camz = 1.0
rx = 0
ry = 0
rz = 0


