# Deliberative Layer Type:

PLANNER = 0 # HYBRID PLANNER 

# Deliberative Layer Options:

TREERADIUS = 8.0
TREEDILATIONRADIUS = 2
MIN_FRONTIER_LENGTH = 1
MIN_GATEWAY_LENGTH = 5
UTILITY_RADIUS = 8.0

#----------------------------------------------------------
# Reactive Layer Type:

REACTIVE = 0 # GAUSSIAN POTENTIALS

# Reactive Layer Options:

VMAX = 0.35
WMAX = 0.25
K1   = 0.9
K2   = 6.0

USEESZ = true # compute behaviours only for expected safe zone
ESZRADIUS = 8.0
ESZDILATIONRADIUS = 2

#>> Behavior configuration:
WEIGHTAVOBS = 100.0
WEIGHTGOFRO =  2.0
WEIGHTGOUZ  =  0.05
WEIGHTAVROB =  0.25
WEIGHTGOPRE =  3.0
WEIGHTGOIMP =   0.0
WEIGHTGOGOAL=  33.0

SIGMAAVOBS  =   0.2
SIGMAGOFRO  =   6.0
SIGMAGOUZ   =   8.0
SIGMAAVROB  =   6.0
SIGMAGOPRE  =   2.66
SIGMAGOIMP  =   0.0
SIGMAGOGOAL =   10.0

LOCALPOTENTIALWIDTH	= 9
LOCALPOTENTIALHEIGHT	= 9


