# Deliberative Layer Type:

PLANNER = 1 # REACTIVE FSA PLANNER  

# Deliberative Layer Options:

ESCAPE_FROM_LOCAL_MINIMA = true
INTEGRATE_SLAM = true
INFLATE_OBSTACLES = 3

#-----------------------------------------------------------
# Reactive Layer Type:

REACTIVE = 0 # GAUSSIAN POTENTIALS

# Reactive Layer Options:

VMAX = 0.35
WMAX = 0.25
K1   = 0.9
K2   = 6.0
 
USEESZ = false # compute behaviours only for expected safe zone
ESZRADIUS = 8.0
ESZDILATIONRADIUS = 2

#>> Behavior configuration:
WEIGHTAVOBS = 100.0
WEIGHTGOFRO =  2.0
WEIGHTGOUZ  =  0.00
WEIGHTAVROB =  0.25
WEIGHTGOPRE =  1.0
WEIGHTGOIMP =  0.0
WEIGHTGOGOAL=  100.0

SIGMAAVOBS  =   0.15
SIGMAGOFRO  =   6.0
SIGMAGOUZ   =   8.0
SIGMAAVROB  =   6.0
SIGMAGOPRE  =   2.66
SIGMAGOIMP  =   1.0
SIGMAGOGOAL =   15.0

LOCALPOTENTIALWIDTH	= 9
LOCALPOTENTIALHEIGHT	= 9

